body {
  background:#11cc19;
  display: flex;
}
.container{
  .top-holder h2{
    display: flex;
    color: #eee491;
    height: 4em;
    justify-content: space-around;
    align-items: center;
  }
  .cow{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #400ee2;

    color: #9993aa;
  }
}
