* {
  box-sizing: border-box;
}

body {
  color: #FFD001;
  // background: #1D448C;
  background: #2C62BC;
  font-family: 'Arimo', sans-serif;
  display: flex;
  flex-direction: column;
  height: 100%;
}


header {
  display: flex;
  align-items: center;
  height: 4em;
  background: #2FB4C5;
  // outline: 2px red dotted;

  nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    .navLeft{
      color: #FFD001;
      display: flex;
      justify-content: center;
      width: 20%;
    }
    .navRight{
      display: flex;
      width: 30%;
      ul {
        width: 100%;
        display: flex;
        justify-content: space-around;
        li:hover {
          box-shadow: -2px 4px 2px -1px rgba(0, 0, 0, 0.2);
        }
        a {
           color: #FFD001;
           text-decoration: none;
        }
      }
    }
  }
}

form {
  // outline: green 1px dotted;
}


.upperForm {
  display: inline-block;
  float: left;
  margin: -20em 28em;
      select, input, button {
        width: 20em;
        display: block;
        margin: 1.75em;
      }
}
label {
  margin: 1em;
}
main{
  color: #ECCF00;
  flex: 1;
}

footer {
  height: 5em;
  width: 100%;
  background: #2FB4C5;
  margin-top: auto;
  margin-top: 5.75em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cow {
  outline: .25em #ECCF00 solid;
  display: inline-block;
  margin: 2em;
  padding: 2em;
}

button {
  background: #FB943E;
  height: 29px;
  width: 20em;
  border-radius: 5px;
}

.buttonHolder {
  margin-top: -5em;
}

.undoButton {
  margin-left: 43.3em;
}

.selectCharacter {
 background: #FB943E;
 height: 29px;
 width: 240px;
 border-radius: 5px;
}

h2 {
  font-size: 2vw;
  margin: 3.5em 2em -.50em;
}
